<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo-section">
      <div class="footer-logo">
        <!-- <img src="assets/logo-icon.png" alt="Prescripto" class="logo-icon" /> -->
        <span class="logo-text">Prescripto</span>
      </div>
      <p class="footer-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>

    <div class="footer-links">
      <h4>COMPANY</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Delivery</a></li>
        <li><a href="#">Privacy policy</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>GET IN TOUCH</h4>
      <p>+0-000-000-000</p>
      <p>kushsoni&#64;gmail.com</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright 2025 &#64; Kush Soni – All Right Reserved.</p>
  </div>
</footer>
