<div class="nav-container">
  <div class="left-nav">
    <h1>Medicial Store</h1>
  </div>
  <div class="center-nav">
    <div class="nav-links">
      <ul>
        <li><a routerLink="/home">HOME</a></li>
        <li><a href="">ALL DOCTORS</a></li>
        <li><a routerLink="/about">ABOUT</a></li>
        <li><a routerLink="/contact-us">CONTACT</a></li>

        <button style="cursor: pointer;" routerLink="/admin-login">Admin Panel</button>
      </ul>
    </div>
  </div>
  <div class="right-nav">
    <button style="cursor: pointer" *ngIf="!isLoggedIn">
      <a routerLink="/register">Create Account</a>
    </button>

    <div
      class="profile-dropdown"
      (mouseenter)="showDropdown = true"
      (mouseleave)="showDropdown = false"
    >
      <img
        src="assets\images\assets_frontend\upload_area.png"
        alt="Profile"
        class="profile-img" *ngIf="isLoggedIn"
      />
      <div class="dropdown-content" [ngClass]="{ show: showDropdown }">
        <a routerLink="/my-profile">My Profile</a>
        <a routerLink="/appointments">My Appointments</a>
        <a href="#" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>

<hr style="margin: 0 10%" />
