<div class="nav-container">
  <div class="left-nav">
    <h1>Medicial Store</h1>
  </div>
  <div class="center-nav">
    <div class="nav-links">
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">ALL DOCTORS</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">CONTACT</a></li>
        <!-- <li><a href=""></a></li> -->
        <button>Admin Panel</button>
      </ul>
    </div>
  </div>
  <div class="right-nav">
    <button style="cursor: pointer;"><a routerLink="/register">Create Account</a></button>
  </div>
</div>

<hr style="margin: 0 10%" />