<app-navbar></app-navbar>



<div class="home-header">
  <div class="header-left">
    <h1 class="header-heading">
      Book Appointment <br />
      With Trusted Doctors
    </h1>
    <div class="header-flex">
      <div class="left-flex">
        <img src="images\assets_frontend\group_profiles.png" alt="" />
      </div>
      <div class="right-flex">
        <p>
          Simply browse through our extensive list of trusted doctors, schedule
          your appointment hassle-free.
        </p>
      </div>
    </div>
    <button>Book appointment</button>
  </div>
  <div class="header-right">
    <img src="assets\images\assets_frontend\header_img.png" alt="" />
  </div>
</div>

<div class="home-speciality-section">
  <h2>Find by Speciality</h2>
  <p>Simply browse through our extensive list of trusted doctors,<br> schedule your appointment hassle-free.</p>

  <div class="home-speciality-box">
    <div class="speciality-item">
      <img src="assets\images\assets_frontend\General_physician.svg" alt="">
      <p>General physician</p>
    </div>
    <div class="speciality-item">
      <img src="assets\images\assets_frontend\Gynecologist.svg" alt="">
      <p>Gynecologist</p>
    </div>
    <div class="speciality-item">
      <img src="assets\images\assets_frontend\Dermatologist.svg" alt="">
      <p>Dermatologist</p>
    </div>
    <div class="speciality-item">
      <img src="assets\images\assets_frontend\Pediatricians.svg" alt="">
      <p>Pediatricians</p>
    </div>
    <div class="speciality-item">
      <img src="assets\images\assets_frontend\Neurologist.svg" alt="">
      <p>Neurologist</p>
    </div>
    <div class="speciality-item">
      <img src="assets\images\assets_frontend\Gastroenterologist.svg" alt="">
      <p>Gastroenterologist</p>
    </div>
  </div>
</div>

